doctype html
html(lang='en')
    head
        include templates/head
    body
        .resume-wrapper
            include templates/header
            section
                include templates/about
            section
                include templates/cool-projects
            section
                include templates/skills
            section
                include templates/awards
            section
                include templates/employment
        noscript#deferred-styles
            link(rel='stylesheet', type='text/css', href='/stylesheets/styles.css')
        script.
            var loadDeferredStyles = function() {
                var addStylesNode = document.getElementById("deferred-styles");
                var replacement = document.createElement("div");
                replacement.innerHTML = addStylesNode.textContent;
                document.body.appendChild(replacement)
                addStylesNode.parentElement.removeChild(addStylesNode);
            };
            var raf = requestAnimationFrame || mozRequestAnimationFrame ||
                webkitRequestAnimationFrame || msRequestAnimationFrame;
            if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
            else window.addEventListener('load', loadDeferredStyles);
