doctype html
html(lang='en')
    head
        include templates/head
    body
        .resume-wrapper
            include templates/navigation
            section#about
                include templates/about
            section#projects
                include templates/cool-projects
            section#skills
                include templates/skills
            section#awards
                include templates/awards
            section#employment
                include templates/employment
            div#home
                a(href="/#/") menu
