doctype html
html(lang='en')
    head
        include templates/head
    body
        .resume-wrapper
            include templates/navigation
            include templates/header
            section
                a(name="about")
                include templates/about
            section
                a(name="projects")
                include templates/cool-projects
            section
                a(name="skills")
                include templates/skills
            section
                a(name="awards")
                include templates/awards
            section
                a(name="employment")
                include templates/employment
