doctype html
html(lang='en')
    head
        include templates/head
    body
        .resume-wrapper
            include templates/header
            section
                include templates/about
            section
                include templates/cool-projects
            section
                include templates/skills
            section
                include templates/awards
            section
                include templates/employment
