%section {
    margin: 0 auto 1.5rem;
    padding: 0 0 1rem;
    //width: calc(100vw - 60px);
}

header, section {
    @extend %section;
}

.section-title {
    color: white;
    background-color: #1f2328;
    padding: 0.5rem;
    position: relative;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);

    &::before {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: #1f2328;
        transform: rotate(45deg);
        left: -9px;
        top: 30%;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        z-index: -1;
    }
}

.section-description {
    padding: 0.6rem 1.2rem;
    line-height: 1.5rem;
}

section {
    position: relative;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    background: #fff;
}

.resume-wrapper {
    padding: 1rem;
    box-sizing: border-box;
}
