.skills {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
}

.skill {
    box-sizing: border-box;
    height: 2rem;
    line-height: 1.6rem;
    margin: 0.3rem;
    padding: 0.1rem 0.8rem;
    border: 0.2rem solid cornflowerblue;
    border-radius: 1rem;
    display: inline-block;
}
