h2.section-title About
    p
        | I translate geek into English and I’m a problem solver driven by every day's challenge. Work happens
        | to be my
        | passion and, at the core, I am also an innovator that focuses on designing and building award
        | winning
        | technologies for the future, as it's closer than we think.
