h2.section-title Awards
.awards
    .award
        .award-title Best 30s elevator speed speech
        .award-description I’ve won the 1st place twice and 2nd place once.
        .award-location Google Plex meeting – London
        .award-date 2014
    .award
        .award-title Best web site for president elections
        .award-description
            | I've participated on a contest and won the best website for one
            | of the candidates to the Romanian presidency.
        .award-location Constanta / Romania
        .award-date 2001
