h2.section-title #{data.coolProjects.title}
.cool-projects
    for project in data.coolProjects.projects
        .cool-project
            p.section-description !{project.projectDescription}
            a.cool-project-link-title(href='#{project.githubLink}') #{project.githubTitle} <span class="iresume-github"></span>

