h2.section-title Employment
// .employments>.employment*8>.employment-date+.employment-job-title+.employment-company+.employment-summary>p>lipsum7^a[href="#"][title="read more"].employment-read-more{read more}
.employments
    .employment
        .employment-date
        .employment-job-title
        .employment-company
        .employment-summary
            p Lorem ipsum dolor sit amet, consectetur adipisicing.
            a.employment-read-more(href='#', title='read more') read more
    .employment
        .employment-date
        .employment-job-title
        .employment-company
        .employment-summary
            p Accusantium dolor dolorum est officia, placeat ullam?
            a.employment-read-more(href='#', title='read more') read more
    .employment
        .employment-date
        .employment-job-title
        .employment-company
        .employment-summary
            p Beatae dignissimos ex id quibusdam ut! Consectetur!
            a.employment-read-more(href='#', title='read more') read more
    .employment
        .employment-date
        .employment-job-title
        .employment-company
        .employment-summary
            p Blanditiis cumque sit ut. Dolorum eligendi, fugiat?
            a.employment-read-more(href='#', title='read more') read more
    .employment
        .employment-date
        .employment-job-title
        .employment-company
        .employment-summary
            p Atque beatae dignissimos, distinctio illum necessitatibus neque.
            a.employment-read-more(href='#', title='read more') read more
    .employment
        .employment-date
        .employment-job-title
        .employment-company
        .employment-summary
            p Autem enim fugiat impedit molestiae nemo quaerat?
            a.employment-read-more(href='#', title='read more') read more
    .employment
        .employment-date
        .employment-job-title
        .employment-company
        .employment-summary
            p Assumenda consequatur dignissimos ea ex minus sit!
            a.employment-read-more(href='#', title='read more') read more
    .employment
        .employment-date
        .employment-job-title
        .employment-company
        .employment-summary
            p Commodi deserunt, neque nihil nobis non voluptatibus.
            a.employment-read-more(href='#', title='read more') read more

