h2.section-title Employment
// .employments>.employment*8>.employment-date+.employment-job-title+.employment-company+.employment-summary>p>lipsum7^a[href="#"][title="read more"].employment-read-more{read more}
.employments
for employment, key in data.employment
    .employment
        .employment-date #{employment.employmentDate}
        .employment-job-title #{employment.employmentJobTitle}
        .employment-company #{employment.employmentCompany}
        .employment-summary #{employment.employmentSummary}
            p Lorem ipsum dolor sit amet, consectetur adipisicing.
            a.employment-read-more(href='#', title='read more') read more

