meta(charset='utf-8')
title Resume #{data.person.firstName} #{data.person.lastName}
meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
// inject:css
// endinject
