header
    h1 #{data.person.firstName + ' ' + data.person.lastName}
    h2 #{data.person.jobTitle}

    .quick-contact
        .quick-contact-mobile
        .quick-contact-email
        .quick-contact-note
