div.navigation
    h3 Navigation
    div.navigation-list
        a.navigation-link(href="#about") About
        a.navigation-link(href="#projects") Projects
        a.navigation-link(href="#skills") Skills
        a.navigation-link(href="#awards") Awards
        a.navigation-link(href="#employment") Employment
