div.navigation
    h3.navigation-title Navigation
    div.navigation-list
        a.navigation-link(href="#about")
            span.iresume-qrcode
            span.navigation-text About
        a.navigation-link(href="#projects")
            span.iresume-cogs
            span.navigation-text Projects
        a.navigation-link(href="#skills")
            span.iresume-wrench
            span.navigation-text Skills
        a.navigation-link(href="#awards")
            span.iresume-trophy
            span.navigation-text Awards
        a.navigation-link(href="#employment")
            span.iresume-user-tie
            span.navigation-text Employment
