h2.section-title Skills
    h3 Front End
    .skills
        ul.skill-list
            li.skill Angular 2
            li.skill TypeScript
            li.skill HTML 4/5
            li.skill CSS 2/3
            li.skill SMACSS / OOCSS
            li.skill Foundation
            li.skill Bootstrap
            li.skill Ecmascript 6 (ES6)
            li.skill JavaScript
            li.skill Polymer
            li.skill jQuery
            li.skill Angular.js
            li.skill Grunt
            li.skill Gulp
            li.skill Bower
            li.skill Yeoman
            li.skill Ember
            li.skill Selenium
            li.skill Protractor
            li.skill Facebook API
            li.skill Twitter API
            li.skill Github API
            li.skill Google API
            li.skill Sass
            li.skill Compass
            li.skill Bourbon
            li.skill Neat
            li.skill Less
            li.skill Stylus
            li.skill FramerJS
            li.skill GreenSock
            li.skill SEO
            li.skill Word
            li.skill Excel
            li.skill PowerPoint
            li.skill Photoshop
            li.skill Illustrator
            li.skill WAI
        h3 Back End
        ul.skill-list
            li.skill Firebase
            li.skill Git
            li.skill Amazon AWS
            li.skill S3
            li.skill Cloud Front
            li.skill JSON
            li.skill REST
            li.skill NodeJS
            li.skill Yii 1/2
            li.skill PHP
            li.skill MySQL
            li.skill Linux
            li.skill Apache
            li.skill Nginx
            li.skill Apache benchmark
            li.skill ActionScript
            li.skill XML
            li.skill Flash
            li.skill Solr
            li.skill Solarium
            li.skill ElasticSearch
            li.skill Redis
            li.skill Magento
            li.skill Drupal
            li.skill Bash
            li.skill TDD/BDD
            li.skill Twig
            li.skill Jira
            li.skill Rally
            li.skill Agile
            li.skill Vagrant
            li.skill Puppet
            li.skill Virtual Machines
        h3 OS
        ul.skill-list
            li.skill Windows
            li.skill Linux
            li.skill Mac
            li.skill DOS/CLI
